/* ==========================================================================
   Variables
========================================================================== */


/* ==========================================================================
   Placeholders
========================================================================== */
$default {}

/* ==========================================================================
   MeuComponente Elements
========================================================================== */

/* ==========================================================================
   MeuComponente Props
========================================================================== */

/* Default
 ================ */

.default {
  @extend $default;
}
