version: 2.1

orbs:
  cypress: cypress-io/cypress@1.26.0
  node: circleci/node@2.0.2

executors:
  cypress-chrome:
    docker:
      - image: 'cypress/browsers:node12.0.0-chrome73-ff68'

jobs:
  jest:
    executor:
      name: node/default
      tag: '12.16'
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Dependencies
          command: yarn install --immutable
      - save_cache:
          name: Save Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - run:
          command: yarn run test:unit
          name: Run YARN tests

workflows:
  test-app:
    jobs:
      - jest

  end-to-end:
    jobs:
      - cypress/run:
          context: cypress
          command: npx cypress run -b chrome --headless --reporter list -q
          yarn: true
          executor: cypress-chrome
          start: yarn start:dev
          wait-on: 'http://localhost:8080'
          config: 'retries=2'
          post-steps:
            - store_artifacts:
                path: tests/cypress/videos
