/* custom-variables.css */
:root {
    --c-primary: #ad1b1b;
    --c-primary-light: #1bfff1;
    --c-primary-dark: #008179;
    --c-primary-dark-hover: #006e68;
    --c-secondary: #dcdcdc;
    --c-secondary-light: #e7e7e7;
    --c-secondary-medium: #bbb;
    --c-secondary-dark: #9a9a9a;
    --c-support: #2c3b4d;
    --c-support-light: #48617f;
    --c-support-dark: #1a293c;
    --c-active-input: #00b8ad;
    --c-back-disabled: #eee;
    --c-text-disabled: #999;
    --c-menu-text: #3f5d79;
    --c-beacon-color: #de4e4e;
  }