/* ==========================================================================
   Variables
========================================================================== */


/* Color
========================================================================== */

/* ==========================================================================
   Placeholders
========================================================================== */
$default {}

/* ==========================================================================
   CounterConnect Component
========================================================================== */

/* Default
 ================ */

.default {
  @extend $default;
}
