.connectComponent {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.title {
  text-align: center;
}

.actionButton {
  margin-right: 5px;
  margin-top: 5px;
  background: #5E4596;

  &:hover {
    background: #362A5B;
  }
}
