.listDependencies {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  div {
    li {
      align-items: center;
      border: 1px solid;
      width: 25%;

      img {
        margin-bottom: 10px;
      }
    }
  }

  li {
    display: flex;
    flex-direction: column;
  }
}

.projects {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 25px;
}

.panel {
  align-items: center;
  width: 30%;
}
